@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color:  #ff7613;
    --text-color: #727171;

}
html{
    font-size: 10px;
}
body{
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;
}

/* common styles*/

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color:var(--text-color)
}
/* layout */

.container{
    max-width:1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: 070707;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    
}

@media only screen and (max-width:768px){
    .container{
        width:100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile{
    grid-column: 1/-1;
    margin-bottom: 2rem;
}
.titles{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.group1{
    display: flex;
    gap:5rem;
    flex-direction: column;
}
.item_preTitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}
.item_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;

}
.item_subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}
/* profile */
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_profileImg{
    max-width: 250px;
}
.profile_name_firstName{
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 7rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
    
}
.profile_name_lastName{
    color: #ff7613;
    font-weight: 700;
    font-size: clamp(2rem, 15vw, 6rem);
    text-transform: uppercase;
    display: block;
    
}
.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}
.downloadBtn{
    display: block;
    text-decoration: underline;
    margin-top: 1rem;
    font-size: 1.6rem;
}
.downloadBtn:hover{
    color:crimson
}
@media only screen and (max-width:768px){
    .profile_container{
    flex-direction: column
    }
}
.skills_section{
    margin-top: 5rem;
}
/* Knowledge */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
/* education */
.edu_item{
    margin-top: 2rem;


}
.certification_item{
    margin-top: 2rem;
}
/* here is for animation */

.skills_section{
    display: flex;
    gap:5rem;
    flex-direction: column;
}

.skills_head{
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    text-align: center;
    
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 50%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 50%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .python{
    width: 80%;
    animation: python 2s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 20%;
    animation: js 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .django{
    width: 75%;
    animation: django 2s;
}
@keyframes django {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .java{
    width: 30%;
    animation: java 2s;
}
@keyframes java {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}


.language_head{
    width: 100%;
    margin-bottom: 20px;
    display: grid;
    place-items: center;
    text-align: center;
}
.language_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.language_head h2 span{
    color: #06e777;
}
.language_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.language_main .language_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.language_bar .info p:nth-child(2){
    font-weight: 500;
}
.language_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.language_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #06e73b;
    border-radius: 25px;
}
.language_bar .bar .english{
    width: 60%;
    animation: html 2s;
}
@keyframes english {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.language_bar .bar .rus{
    width: 70%;
    animation: css 2s;
}
@keyframes rus {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.language_bar .bar .kg{
    width: 95%;
    animation: python 2s;
}
@keyframes kg {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
/* Slider starts here */

.slideshow-container{
    display: flex;
    gap:5rem;
    flex-direction: column;
    position: relative;
    margin: auto;
} 

/* Slideshow container */
/*.slideshow-container { 
    display: flex;
    gap:5rem;
    flex-direction: column;
    max-width: 80%;
    position:relative;
    margin: auto;
    
  
}*/
  
body {
    font-family: Verdana, sans-serif;
    margin:0
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */

/* Number text (1/3 etc) */
/* .numbertext { 
  margin-top: 5rem;
  margin-bottom: 10rem;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
*/
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
.dot{
 height: 10px;
  width: 10px;
}
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 14px}
}

}
.youtube{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .youtube iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}
.d1{
    width: 100%;
    height: 339px;
}
.d1 h1{
    text-align: center;
    padding-top: 100px;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color: black;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:18px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:16px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.9;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
